<form>
  <ion-card-header>
    <ion-avatar class="avatars">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-card-header>
  <p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [type]="on ? 'text' : 'password' ">
      <mat-icon matSuffix (click)="on = !on" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="on">
        {{on ? 'visibility' : 'visibility_off'}}
      </mat-icon>
    </mat-form-field>
  </p>

  <p>
    <ion-button expand="block" shape="round" (click)="validateLogin()">Login</ion-button>
    <ion-button expand="block" shape="round" color="light" [routerLink]="['/chgpwd']">Forget password</ion-button>
  </p>
  
</form>
  
