<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Email</ion-title>
  </ion-toolbar>
</ion-header>

<form>
  <p>Your old email address: </p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <ion-button expand="block" shape="round" (click)="emailFormSubmit()" [disabled]="email.invalid">
      Submit
    </ion-button>
</form>
